[Desktop Entry]
Version=1.0
Type=Application
Name=werkaut
Comment=Fitness/workout, nutrition and weight tracker
Categories=Education;Utility;Sports;
Icon=de.werkaut.flutter
Exec=werkaut
StartupWMClass=werkaut
X-Purism-FormFactor=Workstation;Mobile;
X-KDE-FormFactors=desktop;tablet;handset;mediacenter;
